.base{
  font-size: 4rem;
  padding: 10vw;
  height: 100vh;
}

.main{
  padding: 2vw;
}

.landing{
  display:flex;
  flex-direction: row;
  align-items: center;
  color:white;
  text-align: left;
}

.landing button{
  margin: none;
  background-color: rgb(78, 255, 190,.7);
  border-style:none;
  font-size:2rem;
  padding:8px 40px;
  border-radius:8px;
  color:white;
  cursor:pointer;
  transition: .2s;
}

.landing button:hover{
  transform: scale(1.01);
  box-shadow:0 10px 25px 2px rgb(78, 255, 190,.7);
}

.outer{
  background-image: url("../public/images/Rectangle.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  padding:2vw 6vw 6vw 6vw;
  border-radius: 16px;
  height: 93vh;
  text-align: center;
}

.landing img{
  width: 30vw;
}


.working{
 font-size: 3rem;
}

.about{
  background-color: #7E699C;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .names{
  align-items: center;
  font-size: 2rem;
  display:flex;
  flex-direction:row;
  gap: 4vw;
}

.about h1{
  font-size: 4rem;
}

.about img{
  border-radius:50%;
  height: 15vw;
  width:  15vw;
  object-fit: cover;
}

