.nav{
    display: flex;
    flex-direction:row;
    width: 40vw;
    justify-content: space-evenly;
    padding:0 3vw;
    font-size:1.5rem;
    color: white;
    margin: auto;
}

.nav a{
    cursor: pointer;
}

